.page-title {
	text-align: center;
}
.user-profile-container,
.edit-profile-container {
	max-width: 65%;
	margin: 0 auto;
	margin-bottom: 3em;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 1em;
	min-height: 54vh;
}
.edit-profile-container {
	grid-template-columns: 1fr;
}
.user-bio-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.social-accounts {
	max-width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 1em;
	margin-top: 1em;
	padding-left: 0;
}
.social-accounts-links {
	display: flex;
	justify-content: space-evenly;
	width: 56%;
}
.social-accounts-links a {
	text-decoration: none;
	color: #000;
	font-size: 1.3em;
}
.groups {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	justify-items: center;
}
.groups li {
	text-align: center;
}
.user-preferences {
	margin-top: 1.75em;
}
.profile {
	text-align: center;
	max-width: 200px;
}
.profile-picture {
	width: 100%;
	max-height: 210px;
	border-radius: 50%;
}
.group-link,
.edit-profile {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}
.edit-profile-picture {
	margin: 10px 0;
}
.edit-profile-form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}
.edit-profile-form input,
.edit-profile-form textarea {
	width: 70%;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
}
.edit-profile-form button {
	padding: 10px 30px;
	border-radius: 5px;
	font-size: 0.8em;
}
.edit-profile-form input,
.edit-profile-form textarea,
.edit-profile-form button {
	outline: none;
}
/*Edit User Profile*/
.edit-user-form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
	width: 740px;
	min-height: 480px;
	margin: 0 auto;
}
.edit-user-form input,
.edit-user-form textarea {
	outline: none;
}
.edit-user-profile__bio {
	display: block;
	padding: 10px;
	resize: none;
	max-height: 85px !important;
	overflow: scroll !important;
	height: 85px !important;
	width: 100%;
	margin: 0;
}

.header-panel {
	display: flex;
	max-width: 67%;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
