.create-group-form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
	width: 740px;
	min-height: 480px;
	margin: 0 auto;
}
.create-group-form input,
.create-group-form textarea {
	outline: none;
}
.create-group-form__description {
	display: flex;
	flex-direction: column;
	padding: 1em 0 !important;
	width: 100% !important;
}
.create-group-form__map {
	margin: 2em 0 !important;
}
