.menu-wrapper a,
.footer-menu-wrap {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #cbcfd4;
	text-decoration: none;
}
.footer p {
	color: #ffffff;
}
.footer-menu {
	opacity: 0.5;
	box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
	padding-left: 30px;
	padding-right: 30px;
}
.footer-menu,
.terrinary {
	background: #3c444c;
}
.footer-menu-wrap,
.copyright {
	width: 50%;
}
.footer-menu-wrap {
	text-align: right;
}
.copyright a,
.footer-menu-wrap a {
	text-decoration: none;
	color: #cbcfd4;
}
.footer-menu-wrap a {
	padding: 15px;
}
.terrinary {
	box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
	width: 100%;
}
.list-content {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	
}
.list-content:last-child {
	padding-left: 35px;
}
.list-content p {
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 12px;

	/* identical to box height */
	display: flex;
	align-items: center;
	text-transform: uppercase;

	color: #ffffff;
}
.about-us-wrapper,
.terrinary-menu-container-wrap,
.copyright,
.footer-menu-wrap {
	display: inline-block;
}
.about-us-wrapper {
	width: 35%;
	padding: 35px;
	vertical-align: middle;
	display: inline-block;
}
.terrinary-menu-container-wrap {
	width: 60%;
	display: inline-block;
	vertical-align: middle;
	padding: 30px 0;
	float: right;
	line-height: 28px;
}

ul {
	padding: 0;
	list-style-type: none;
}
