input {
	height: 40px;
	background: #FFFFFF;
	width: 100%;
	border: 1px solid rgba(0,0,0,.12);
	border-radius: 3px;
	padding: 5px;
	font-size: 14px;
}
.form-group {
	line-height: 22px;
	margin-bottom: 20px;
}

.help-block {
	color: #ff911a;
}
.has-error input {
	border-color: #ff911a;
}