.headline,
.tagline {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	margin: 1em 0;
}
.tagline,
.headline {
	margin: 1em 0;
}
.call-to-action {
	margin: 2em 0;
}

.banner {
	background: url('./background.jpg') no-repeat;
	height: calc(100vh - 32em);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
