.event-header-container {
	min-height: 15vh;
	background-color: #171c22;
}
.event-header-wrapper {
	max-width: 70%;
	margin: 0 auto;
	padding-top: 3em;
	padding-bottom: 3em;
	display: grid;
	grid-template-columns: 3fr 1fr;
	justify-items: center;
	align-items: center;
}
.event-header-wrapper p,
.event-header-wrapper h3,
.event-header-wrapper span,
.event-header-wrapper a {
	color: #fff;
}

.event-header-wrapper a {
	text-decoration: none;
}
.event-attendance {
	display: flex;
	align-items: center;
}
.event-actions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
.spots-left {
	margin: 0 1em;
}
.btn {
	text-decoration: none;
	padding: 0.5em 3em;
	margin: 1em;
	border-radius: 20px;
	background: linear-gradient(to left, #f27954, #a154f2);
	border: none;
	color: #fff;
}

.event-share {
	max-width: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 0 1em;
}
.social-share {
	display: flex;
	justify-content: space-evenly;
	width: 56%;
}

.event-header-date {
	max-width: 60px;
	background: white;
	padding: 0 1em;
	height: 60px;
	border-radius: 5px;
	text-align: center;
}

.event-header-date .date {
	color: red;
	font-weight: bold;
	font-size: 1.2em;
	padding-top: 0.4em;
	margin: 0;
}
.event-header-date .month {
	color: #666;
	margin: 0;
	font-weight: 600;
}
.event-date {
	margin: 0;
}
.event-header-details {
	display: flex;
}
.event-header-details-expand {
	margin-left: 1em;
}
